In [1]:
import pandas as pd
import numpy as np

In [16]:
retail = pd.read_csv('c://bd092_data//NewOnlineRetail.csv')

In [41]:
#슬라이싱은 row 선택에만 이용된다 & 슬라이싱은 하던대로 하면 알아서 데이터프레임 출력된다
retail[100:172]
#
retail.loc[100:172, ['InvoiceNo']]
retail.iloc[[0,33,55], [0,3,5]]

   InvoiceNo  Quantity  UnitPrice
0     536365         6       2.55
33    536370        18       2.95
55    536373         6       1.06

In [43]:
retail.loc[150:182, ['Unitprice', 'InvoiceNo', 'Quantity']]

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'

In [19]:
1retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,0
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,f
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,dc
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,dd
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,NaN
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,NaN
...,...,...,...,...,...,...,...,...,...
63670,C541589,79323W,WHITE CHERRY LIGHTS,-8,1/19/2011 14:44,6.75,15831.0,United Kingdom,NaN
63671,541590,84580,MOUSE TOY WITH PINK T-SHIRT,4,1/19/2011 14:50,3.75,13310.0,United Kingdom,NaN
63672,541590,22295,HEART FILIGREE DOVE LARGE,12,1/19/2011 14:50,1.65,13310.0,United Kingdom,NaN
63673,541590,85231B,CINAMMON SET OF 9 T-LIGHTS,12,1/19/2011 14:50,0.85,13310.0,United Kingdom,NaN
63674,541590,21613,S/12 VANILLA BOTANICAL T-LIGHTS,6,1/19/2011 14:50,2.95,13310.0,United Kingdom,NaN

In [51]:
cat = retail.loc[150:250, ['Quantity', 'InvoiceNo', 'StockCode']]
cat.isnull().sum()

Quantity     0
InvoiceNo    0
StockCode    0
dtype: int64

In [56]:

retail = retail[(retail['Quantity']>=10) & (retail['UnitPrice']<=9)]
retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,0
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom,NaN
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,12/1/2010 8:45,3.75,12583.0,France,NaN
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,12/1/2010 8:45,3.75,12583.0,France,NaN
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,12/1/2010 8:45,3.75,12583.0,France,NaN
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,12/1/2010 8:45,0.85,12583.0,France,NaN
...,...,...,...,...,...,...,...,...,...
63667,541588,22435,SET OF 9 HEART SHAPED BALLOONS,12,1/19/2011 14:43,1.25,14307.0,United Kingdom,NaN
63668,541588,21210,SET OF 72 RETROSPOT PAPER DOILIES,12,1/19/2011 14:43,1.45,14307.0,United Kingdom,NaN
63669,541588,21212,PACK OF 72 RETROSPOT CAKE CASES,24,1/19/2011 14:43,0.55,14307.0,United Kingdom,NaN
63672,541590,22295,HEART FILIGREE DOVE LARGE,12,1/19/2011 14:50,1.65,13310.0,United Kingdom,NaN
63673,541590,85231B,CINAMMON SET OF 9 T-LIGHTS,12,1/19/2011 14:50,0.85,13310.0,United Kingdom,NaN

In [60]:
retail.to_csv('c://bd092_data//absolute)')